
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);

p {
  font-size: 18px;
  line-height:  28px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

li {
    font-size: 18px;
    line-height: 28px;
}

blockquote { 
  font-size: 0.9 em;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  margin: 2em 0 2em 0;
  padding: 0 0 0 40px;
  line-height: 1.6;
  position: relative;
}

blockquote::before {
  font-family:Arial;
  content: "\201C";
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 0px;
  top:-30px;
}

blockquote::after{
  content: '';
}

blockquote span {
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

@media only screen and (max-width: 991px) {
 
  .ui.container {
    margin: 0;
    width: 100%;
    padding: 1rem 1rem 0 1em !important;
  }

  .ui.text.container {
    font-family: Lato,Helvetica Neue,Arial,Helvetica,sans-serif;
    line-height: 1.5;
    width: 100% !important;
    max-width: 100% !important;
    font-size: 1.14285714rem;
  }

  html {
    font-size: 1.6rem;
  }

  p {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  blockquote {
    font-size: 1.2rem;
    margin-bottom: 0 !important;
  }

  blockquote::before {
    left: -25px;
    top:-55px;
    font-size: 4rem;
  }

  .ui.menu {
    font-size: 1.2rem;
  }

}
